<div class="myAboutstyle">
    <div class='myAbout'>
        <div class="myblock">
            <h1>Who we are</h1>
            <span>
                We're passionate about redefining employee experiences.
                Employee experiences drive customers experiences.
                And if your employees are not engaged, neither will your customers be.

            </span>
        </div>
        <div class="myblock">
            <h1>Our customers say it best</h1>
            <span>Engaged employees, happier customers, better results.
                Inspire your decisions while our customers share their stories.</span>
        </div>

        <div class="myblock">
            <h1>Grow with people</h1>
            <span>
            Are you the one to excel?<br>
            Are you looking for a career and not just a job? Craving to call something your own?<br>
            Do you wish for the freedom to be creative in a global digital innovation-driven environment?<br>
            Be different, be radical, have the passion to change things around you?<br>

            You've come to the right place.<br>
        </span>
        </div>

    </div>
</div>