<section class="viewDetailsStyle">
    <div class="Container">
    <h3>View Emplyee Details</h3>
    <div>
        <div>
            <label><b>First Name:</b></label>&nbsp;{{employee.firstname}}
        </div>
        <div>
            <label><b>Sur Name:</b></label>&nbsp;{{employee.surname}}
        </div>
        <div>
            <label><b>PhoneNo:</b></label>&nbsp;{{employee.phoneNo}}
        </div>
        <div>
            <label><b>Date Of Birth:</b></label>&nbsp;{{employee.dob}}
        </div>
        <div>
            <label><b>Joining Date:</b></label>&nbsp;{{employee.joiningdate}}
        </div>
        <div>
            <label><b>Age:</b></label>&nbsp;{{employee.age}}
        </div>
        <div>
            <label><b>User Name:</b></label>&nbsp;{{employee.userName}}
        </div>
        <div>
            <label><b>Address:</b></label>&nbsp;{{employee.address}}
        </div>
        <div>
            <label><b>Pincode:</b></label>&nbsp;{{employee.pincode}}
        </div>
        <div>
            <label><b>Active Status:</b></label>&nbsp;{{employee.active}}
        </div>
    </div>
</div>
</section>