<header class="fixed" >
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" >
    <h1 class="text-center" class="tittleStyle">{{title}}</h1>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink='home' routerLinkActive='active' class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink='employees' routerLinkActive='active' class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink='create-employee' routerLinkActive='active' class="nav-link">Create Employee</a>     
        </li>
        <li class="nav-item">
            <a routerLink='about-us' routerLinkActive='active' class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
            <a routerLink='profile' routerLinkActive='active' class="nav-link">Profile</a>
        </li>
    </ul>
</nav>
</header>

<section class="myBody">
<div class="container combody">
    <router-outlet>

    </router-outlet>
</div>
</section>
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2022 @vasanthakumar</span>
    </div>
</footer>

