<div class="addEmpForm">
<div class="col-md-6 offset-md-3" >
<h3>Create Employee</h3>
<form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]='employee.firstname' name="firstname"> 
    </div>
    <div class="form-group">
        <label>Sur Name</label>
        <input type="text" class="form-control" id="surname" [(ngModel)]='employee.surname' name="surname"> 
    </div>
    <div class="form-group">
        <label>Contact No</label>
        <input type="text" class="form-control" id="phoneno" [(ngModel)]='employee.phoneNo' name="phoneno"> 
    </div>
    <div class="form-group">
        <label>DOB</label>
        <input type="date" class="form-control" id="dob" [(ngModel)]='employee.dob' name="dob"> 
    </div>
    <div class="form-group">
        <label>Joining Date</label>
        <input type="date" class="form-control" id="jdate" [(ngModel)]='employee.joiningdate' name="jdate"> 
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control" id="age" [(ngModel)]='employee.age' name="age"> 
    </div>
    <div class="form-group">
        <label>UserName</label>
        <input type="text" class="form-control" id="username" [(ngModel)]='employee.userName' name="username"> 
    </div>
    <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" id="address" [(ngModel)]='employee.address' name="address"> 
    </div>
    <div class="form-group">
        <label>PinCode</label>
        <input type="text" class="form-control" id="pincode" [(ngModel)]='employee.pincode' name="pincode"> 
    </div>
    <div class="form-group">
        <label>Active</label>
        <input type="number" class="form-control" id="active" [(ngModel)]='employee.active' name="active"> 
    </div><br>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Submit</button>&nbsp;&nbsp;
        <button class="btn btn-success" type="reset">Reset</button>
    </div>

</form>

</div>
</div>